#atas{
width:100%;
height:auto;
padding:0 auto;
}
#home{
width:100%;
background-color:yellow;
float:left;
}
#home h3{
color:red;
width:100%;
margin-bottom:auto;
margin-top:1em;
}
#home h3:hover{
color:black;
}
#home p{
color:blue;
width:100%;
padding-left:0.5em;
align-content:justify;
}
#home img{
float:left;
width:100%;
}
#home img:hover{
float:left;
width:75%;
border-radius:2em;
}
