#atas{
width:auto;
margin-left:1em;
margin-top:1em;
margin-bottom:1em;
font-weight:1000;
}
#demo{
width:100%;
font-weight:1000;
}
#myInput{
width:50%;
background-color:lightblue;
border-style:solid;
border-radius:0.25em;
height:1.75em;
font-weight:1000;
}
#myInputs{
width:50%;
background-color:yellow;
border-style:solid;
border-radius:0.25em;
height:1.75em;
margin-bottom:1em;
font-weight:1000;
}
#intro{
width:auto;
font-weight:1000;
}
#intro p{
color:blue;
font-weight:1000;
}
.tabelnya {
width:100%;
border: 0.25px solid grey;
border-radius:0.25em;
font-weight:1000;
}
.tabelnya img {
width:100%;
font-weight:1000;
}
.tabelnya td,tr,th {
width:auto;
border: 0.25px solid grey;
text-align-last: left;
background-color:lightgreen;
font-weight:1000;
}
