#atas{
width:100%;
background-color:yellow;
position:fixed;
}
.clearfix {
overflow: auto;
}
.kiri{
float:left;
width:45%;
}
.kanan{
float:left;
width:45%;
}
.satu{
width: 100px;
height: 50px;
position: fixed;
animation: satuanimasi 5s infinite;
}
@keyframes satuanimasi {
from {left: 0px;}
to {left: 1920px;}
}
.dua{
width: 100px;
height: 50px;
position: fixed;
animation: duaanimasi 5s infinite;
}
@keyframes duaanimasi {
from {left: 1920px;}
to {left: 0px;}
}
